@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "sass:string";
@use "../../tokens/config/color" as base;
@use "../palette/palette";
@use "neutrals";
@use "bg";

$a1: palette.generate(base.$a1);
$a2: palette.generate(base.$a2);
$a3: palette.generate(base.$a3);
$danger: palette.generate(base.$danger);
$success: palette.generate(base.$success);
$warning: palette.generate(base.$warning);
$default: palette.generate(base.$default);
$surface: if(base.$surface, palette.generate(base.$surface), null);
$neutral: if(base.$neutral, palette.generate(base.$neutral), null);

@function tone($name, $tone) {
  $quoted: string.quote($name);

  @if $quoted == "a1" {
    @return a1($tone);
  } @else if $quoted == "a2" {
    @return a2($tone);
  } @else if $quoted == "a3" {
    @return a3($tone);
  } @else if $quoted == "danger" {
    @return danger($tone);
  } @else if $quoted == "warning" {
    @return warning($tone);
  } @else if $quoted == "success" {
    @return success($tone)
  }

  @if $quoted == "major" {
    @return a1($tone);
  } @else if $quoted == "minor" {
    @return a2($tone);
  } @else if $quoted == "feature" {
    @return a3($tone);
  } @else if $quoted == "default" {
    @return default($tone);
  } @else if $quoted == "bg" {
    @return bg($tone)
  } @else if $quoted == "neutral" {
    @return neutral($tone);
  }
}

@function a1($tone) {
  @return map.get($a1, string.quote(#{$tone}));
}

@function a2($tone) {
  @return map.get($a2, string.quote(#{$tone}));
}

@function a3($tone) {
  @return map.get($a3, string.quote(#{$tone}));
}

@function danger($tone) {
  @return map.get($danger, string.quote(#{$tone}));
}

@function warning($tone) {
  @return map.get($warning, string.quote(#{$tone}));
}

@function success($tone) {
  @return map.get($success, string.quote(#{$tone}));
}

@function default($tone) {
  @return map.get($default, string.quote(#{$tone}));
}

@function bg($tone) {
  @return bg.a1($tone);
}

@function neutral($tone) {
  @return neutrals.a1($tone);
}

@function tint($foreground, $percent-opacity) {
  $tint-alpha: (1 - math.div($percent-opacity, 100%)) * -1;

  @return color.adjust($foreground, $alpha: $tint-alpha);
}