@use "sass:map";
@use "sass:math";
@use "sass:string";
@use "sass:color" as color-native;
@use "../palette/palette";
@use "colors";
@use "bg";
@use "../../tokens/config/decoration";
@use "../../tokens/config/roles";

$elevations: () !default;

@function generate($p) {
  $output: ();
  $color: colors.tone($p, roles.$accent);
  $bg: bg.tone($p, roles.$bg);
  $container: colors.tone($p, roles.$container);
  $on-accent: colors.tone($p, roles.$on-accent);
  $output: map.set($output, "hover-container", color-native.mix($color, $container, roles.$hover));
  $output: map.set($output, "hover-accent", color-native.mix($on-accent, $color, roles.$hover));
  $output: map.set($output, "focus-container", color-native.mix($color, $container, roles.$focus));
  $output: map.set($output, "focus-accent", color-native.mix($on-accent, $color, roles.$focus));
  $output: map.set($output, "pressed-container", color-native.mix($color, $container, roles.$pressed));
  $output: map.set($output, "pressed-accent", color-native.mix($on-accent, $color, roles.$pressed));
  $output: map.set($output, "2", color-native.mix($color, $bg, roles.$elevation-2));
  $output: map.set($output, "3", color-native.mix($color, $bg, roles.$elevation-3));
  $output: map.set($output, "4", color-native.mix($color, $bg, roles.$elevation-4));
  $output: map.set($output, "5", color-native.mix($color, $bg, roles.$elevation-5));

  @return $output;
}

@function level($shade, $level) {
  $shade-name: string.quote($shade);
  $shade-level: string.quote(#{$level});

  @if map.has-key($elevations, $shade-name) {
    @return map.get($elevations,$shade-name,$shade-level);
  } @else {
    $elevations: map.set($elevations, $shade-name, generate($shade));

    @return map.get($elevations,$shade-name,$shade-level);
  }
}

@function hover($shade, $on) {
  @return level($shade, "hover-#{$on}")
}

@function focus($shade, $on) {
  @return level($shade, "focus-#{$on}")
}

@function pressed($shade, $on) {
  @return level($shade, "pressed-#{$on}")
}

@function opacity($level: 0) {
  @if $level > 0 {
    $opacity: map.get(decoration.$elevation-tints, string.quote(#{$level}));

    @return math.div($opacity, 100%);
  }

  @return 0;
}

@mixin tint-after() {
  position: relative;
  &:after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    pointer-events: none;
    @content
  }
}

@mixin tint-after-hover() {
  @include tint-after;
  &:hover {
    &:after {
      @content
    }
  }
}

@mixin tint-after-focus-within() {
  @include tint-after;
  &:focus-within {
    &:after {
      @content
    }
  }
}

@function tint($foreground, $background, $level: 0) {
  @if $level > 0 {
    $key: string.quote(#{$level});
    $opacity: map-get(decoration.$elevation-tints, $key);

    @return palette.tint($foreground, $background, $opacity);
  }

  @return $background;
}

@function shadow($level, $color: rgb(0,0,0)) {
  $umbra: 0;
  $penumbra: 0;
  $ambient: 0;
  @if $level > 0 {
    @if $level == 1 {
      $umbra:    0 2px 1px -1px;
      $penumbra: 0 1px 1px 0;
      $ambient:  0 1px 3px 0;
    }
    @else if $level == 2 {
      $umbra:    0 3px 1px -2px;
      $penumbra: 0 2px 2px 0;
      $ambient:  0 1px 5px 0;
    }
    @else if $level == 3 {
      $umbra:    0 3px 3px -2px;
      $penumbra: 0 3px 4px 0;
      $ambient:  0 1px 8px 0;
    }
    @else if $level == 4 {
      $umbra:    0 2px 4px -1px;
      $penumbra: 0 4px 5px 0;
      $ambient:  0 1px 10px 0;
    }
    @else if $level == 6 {
      $umbra:    0 3px 5px -1px;
      $penumbra: 0 6px 10px 0;
      $ambient:  0 1px 18px 0;
    }
    @else if $level == 8 {
      $umbra:    0 5px 5px -3px;
      $penumbra: 0 8px 10px 1px;
      $ambient:  0 3px 14px 2px;
    }
    @else if $level == 16 {
      $umbra:    0 8px 10px -5px;
      $penumbra: 0 16px 24px 2px;
      $ambient:  0 6px 30px 5px;
    }
    @else if $level == 24 {
      $umbra: 0 24px 38px 3px;
      $penumbra: 0 9px 46px 8px;
      $ambient: 0 11px 15px -7px;
    }
    @else {
      @error $level;
    }

    $umbra-color: rgba(red($color),green($color),blue($color), decoration.$shadow-key-umbra-opacity);
    $penumbra-color: rgba(red($color),green($color),blue($color), decoration.$shadow-key-penumbra-opacity);
    $ambient-color: rgba(red($color),green($color),blue($color), decoration.$shadow-ambient-shadow-opacity);

    @return $umbra $umbra-color, $penumbra $penumbra-color, $ambient $ambient-color;
  } @else {
    @return none;
  }
}