@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "sass:string";
@use "../../tokens/config/color" as base;
@use "../palette/palette";
@use "../palette/neutral";

$neutral-base: if(base.$neutral, base.$neutral, neutral.generate-single($a1, 6, 8));

$a1: palette.generate($neutral-base, 0) !default;
$a2: palette.generate(neutral.generate-single(base.$a2, 6, 8), 0) !default;
$a3: palette.generate(neutral.generate-single(base.$a3, 6, 8), 0) !default;
$danger: palette.generate(neutral.generate-single(base.$danger, 6, 8), 0) !default;
$success: palette.generate(neutral.generate-single(base.$success, 6, 8), 0) !default;
$warning: palette.generate(neutral.generate-single(base.$warning, 6, 8), 0) !default;
$default: palette.generate(neutral.generate-single(base.$default, 6, 8), 0) !default;

@function tone($name, $tone) {
  $quoted: string.quote($name);

  @if $quoted == "a1" {
    @return a1($tone);
  } @else if $quoted == "a2" {
    @return a2($tone);
  } @else if $quoted == "a3" {
    @return a3($tone);
  } @else if $quoted == "danger" {
    @return danger($tone);
  } @else if $quoted == "warning" {
    @return warning($tone);
  } @else if $quoted == "success" {
    @return success($tone)
  }

  @if $quoted == "major" {
    @return a1($tone);
  } @else if $quoted == "minor" {
    @return a2($tone);
  } @else if $quoted == "feature" {
    @return a3($tone);
  } @else if $quoted == "default" {
    @return default($tone);
  }
}

@function a1($tone) {
  @return map.get($a1, string.quote(#{$tone}));
}

@function a2($tone) {
  @return map.get($a2, string.quote(#{$tone}));
}

@function a3($tone) {
  @return map.get($a3, string.quote(#{$tone}));
}

@function danger($tone) {
  @return map.get($danger, string.quote(#{$tone}));
}

@function warning($tone) {
  @return map.get($warning, string.quote(#{$tone}));
}

@function success($tone) {
  @return map.get($success, string.quote(#{$tone}));
}

@function default($tone) {
  @return map.get($default, string.quote(#{$tone}));
}
