@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "../../tokens/config/color" as base;
@use "../palette/palette";
@use "../palette/neutral";

$surface-base: if(base.$surface, base.$surface, neutral.generate-single(base.$major));
$neutral-base: if(base.$neutral, base.$neutral, neutral.generate-single(base.$major, 6, 8));

$major: palette.generate($surface-base, 0) !default;
$major-alt: palette.generate($neutral-base, 0) !default;

$minor: palette.generate(neutral.generate-single(base.$minor), 0) !default;
$feature: palette.generate(neutral.generate-single(base.$feature), 0) !default;
$danger: palette.generate(neutral.generate-single(base.$danger), 0) !default;
$success: palette.generate(neutral.generate-single(base.$success), 0) !default;
$warning: palette.generate(neutral.generate-single(base.$warning), 0) !default;
$default: palette.generate(neutral.generate-single(base.$default), 0) !default;
$minor-alt: palette.generate(neutral.generate-single(base.$minor, 6, 8), 0) !default;
$feature-alt: palette.generate(neutral.generate-single(base.$feature, 6, 8), 0) !default;
$danger-alt: palette.generate(neutral.generate-single(base.$danger, 6, 8), 0) !default;
$success-alt: palette.generate(neutral.generate-single(base.$success, 6, 8), 0) !default;
$warning-alt: palette.generate(neutral.generate-single(base.$warning, 6, 8), 0) !default;
$default-alt: palette.generate(neutral.generate-single(base.$default, 6, 8), 0) !default;

@function major($tone) {
  @return map.get($major, quote(#{$tone}));
}

@function major-alt($tone) {
  @return map.get($major-alt, quote(#{$tone}));
}

@function minor($tone) {
  @return map.get($minor, quote(#{$tone}));
}

@function minor-alt($tone) {
  @return map.get($minor-alt, quote(#{$tone}));
}

@function feature($tone) {
  @return map.get($feature, quote(#{$tone}));
}

@function feature-alt($tone) {
  @return map.get($feature-alt, quote(#{$tone}));
}

@function danger($tone) {
  @return map.get($danger, quote(#{$tone}));
}

@function danger-alt($tone) {
  @return map.get($danger-alt, quote(#{$tone}));
}

@function warning($tone) {
  @return map.get($warning, quote(#{$tone}));
}

@function warning-alt($tone) {
  @return map.get($warning-alt, quote(#{$tone}));
}

@function success($tone) {
  @return map.get($success, quote(#{$tone}));
}

@function success-alt($tone) {
  @return map.get($success-alt, quote(#{$tone}));
}

@function default($tone) {
  @return map.get($default, quote(#{$tone}));
}

@function default-alt($tone) {
  @return map.get($default-alt, quote(#{$tone}));
}