@use "sass:math";
@use "sass:meta";
@use "../typography";
@use "../../tokens/config/decoration" as decor;
@use "../../tokens/reference" as ref;

$spacer:    decor.$spacer;
$padding-x: $spacer;
$padding-y: $spacer * .5;
$half-spacer: math.div($spacer, 2);
$half-padding-x: math.div($padding-x, 2);
$half-padding-y: math.div($padding-y, 2);
// Input
$padding-x-input: $spacer * .75;
$padding-y-input: $spacer * .5;
$height-input: typography.$size-input * typography.$height-input + ($padding-y-input * 2);
$height-label: typography.$size-label * typography.$height-input + $padding-y-input;
$width-label: decor.$width-label;
// Decoration
$radius-border: decor.$radius-border;
$width-border: decor.$width-border;
$width-outline: decor.$width-outline;