
@mixin label-float {
  padding: 2px var(--input-padding-x);
  opacity: 1;
  height: auto;
  transform: scale(.6) translateY(-1rem) translateX(.75rem);
  background-color: var(--color-bg);
}

@mixin label-outline {
  direction: ltr;
  padding-top: calc(var(--input-padding-y) * 3);
  padding-bottom: calc(var(--input-padding-y) - var(--input-border) - var(--input-border));
  ~ label {
    opacity: .65;
    height: auto;
    transform: scale(.80) translateY(-.5rem) translateX(.15rem);
  }
}

@mixin datetime-icon {
  background-size: var(--icon-size);
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}