@use "../tokens/system";

@if system.$feature-badge {
  [data-badge]:not([data-badge="0"]) {
    position: relative;
    &:before {
      align-items: center;
      aspect-ratio: 1/1;
      background-color: var(--theme-color);
      border: 3px solid var(--theme-color);
      border-radius: 10rem;
      color: var(--theme-on-color);
      content: attr(data-badge);
      display: inline-flex;
      font-size: calc(var(--font-size-sm) * .75);
      justify-content: center;
      min-height: 1rem;
      min-width: 1rem;
      padding: 3px;
      position: absolute;
      right: 5%;
      top: 5%;
    }
  }
  .-inverse [data-badge]:before {
    background-color: var(--theme-link-on-inverse);
    border-color: var(--theme-link-on-inverse);
    color: var(--theme-color);
  }
}