@use "reference" as ref;

$major: ref.$color-base-major !default;
$minor: ref.$color-base-minor !default;
$feature: ref.$color-base-feature !default;
$warning: ref.$color-base-warning !default;
$danger: ref.$color-base-danger !default;
$success: ref.$color-base-success !default;
$default: ref.$color-base-default !default;