@use "sass:map";
@use "system" as sys;
//@use "../modules/palette/palette";
//@use "../modules/theme/elevation";
//@use "../modules/buttons";
//@use "../modules/pattern";
//@use "../modules/input";

//@mixin buttons() {
//  @include buttons.emit
//
//}

@mixin input() {
  --input-bg: var(--theme-bg-alt);
  --input-label: var(--theme-on-alt);
  --input-icon: var(--theme-on-alt);
  --input-border: transparent;
  --input-active: var(--theme-on-alt);
  --input-value: var(--theme-on);
  --input-text: var(--theme-on-alt);
  --input-placeholder: calc(var(--theme-on-alt), .80);
  --input-autofill: var(--theme-bg-alt);
}

