// SASS Modules
@use "../modules/color/sass-color" as color;
@use "sass:math";
@use "sass:map";
// Reference Tokens
@use "reference" as ref;
// Calculated Tokens
@use "../modules/typography" as type;
@use "../modules/layout";
@use "../modules/theme/spacing";
@use "../modules/theme/colors";
@use "../modules/theme/neutrals";
@use "../modules/theme/elevation";
@use "../modules/palette/palette";
// Configured Tokens
@use "config/screen";
@use "config/features";
@use "config/icons";
@use "config/table";
@use "config/decoration" as decor;
@use "config/a1";
@use "config/a2";
@use "config/a3";
@use "config/n1";
@use "config/n2";
// Color Tokens
@use "colors/major";
@use "colors/minor";
@use "colors/feature";
@use "colors/success";
@use "colors/danger";
@use "colors/warning";
@use "colors/context";

// region //////////////////////////////////////////////// Features

$feature-hct: features.$hct;
$feature-badge: features.$badge;
$feature-drawer: features.$drawer;
$feature-header: features.$hct;
$feature-footer: features.$footer;
$feature-grid: features.$grid;

// endregion ///////////////////////////////////////////// End Features

// region //////////////////////////////////////////////// Color & Theme

// App Background & Neutrals
$app-body: major.$body;
$app-bg: major.$bg;
$app-n1: major.$bg;
$app-e2: major.$e2;
$app-e3: major.$e3;
$app-e4: major.$e4;
$app-e5: major.$e5;
$app-on-n1: major.$on-bg;
$app-on-n1-link: major.$on-bg-link;
$app-n2: major.$neutral !default;
$app-on-n2: major.$on-neutral !default;
$app-on-n2-link: major.$on-neutral-link !default;
$app-outline: major.$outline !default;
$app-divider: major.$divider !default;
$app-shadow: major.$shadow !default;
$app-inverse: major.$inverse !default;
$app-on-inverse: major.$on-inverse !default;
$app-on-inverse-link: major.$on-inverse-link !default;

// Theme Accent #1
$app-a1: major.$color !default;
$app-on-a1: major.$on-color !default;
$app-on-a1-link: major.$on-color-link !default;
$app-c1: major.$alt !default;
$app-on-c1: major.$on-alt !default;
$app-on-c1-link: major.$on-alt-link !default;

// Theme Accent #2
$app-a2: minor.$color !default;
$app-on-a2: minor.$on-color !default;
$app-on-a2-link: minor.$on-color-link !default;
$app-c2: minor.$alt !default;
$app-on-c2: minor.$on-alt !default;
$app-on-c2-link: minor.$on-alt-link !default;

// Theme Accent #3
$app-a3: feature.$color !default;
$app-on-a3: feature.$on-color !default;
$app-on-a3-link: feature.$on-color-link !default;
$app-c3: feature.$alt !default;
$app-on-c3: feature.$on-alt !default;
$app-on-c3-link: feature.$on-alt-link !default;

@mixin accents() {
  --a1-0: #{a1.$tone-0};
  --a1-10: #{a1.$tone-10};
  --a1-20: #{a1.$tone-20};
  --a1-25: #{a1.$tone-25};
  --a1-30: #{a1.$tone-30};
  --a1-40: #{a1.$tone-40};
  --a1-50: #{a1.$tone-50};
  --a1-60: #{a1.$tone-60};
  --a1-70: #{a1.$tone-70};
  --a1-80: #{a1.$tone-80};
  --a1-90: #{a1.$tone-90};
  --a1-95: #{a1.$tone-95};
  --a1-98: #{a1.$tone-98};
  --a1-99: #{a1.$tone-99};
  --a1-100: #{a1.$tone-100};
  --a2-0: #{a2.$tone-0};
  --a2-10: #{a2.$tone-10};
  --a2-20: #{a2.$tone-20};
  --a2-25: #{a2.$tone-25};
  --a2-30: #{a2.$tone-30};
  --a2-40: #{a2.$tone-40};
  --a2-50: #{a2.$tone-50};
  --a2-60: #{a2.$tone-60};
  --a2-70: #{a2.$tone-70};
  --a2-80: #{a2.$tone-80};
  --a2-90: #{a2.$tone-90};
  --a2-95: #{a2.$tone-95};
  --a2-98: #{a2.$tone-98};
  --a2-99: #{a2.$tone-99};
  --a2-100: #{a2.$tone-100};
  --a3-0: #{a3.$tone-0};
  --a3-10: #{a3.$tone-10};
  --a3-20: #{a3.$tone-20};
  --a3-25: #{a3.$tone-25};
  --a3-30: #{a3.$tone-30};
  --a3-40: #{a3.$tone-40};
  --a3-50: #{a3.$tone-50};
  --a3-60: #{a3.$tone-60};
  --a3-70: #{a3.$tone-70};
  --a3-80: #{a3.$tone-80};
  --a3-90: #{a3.$tone-90};
  --a3-95: #{a3.$tone-95};
  --a3-98: #{a3.$tone-98};
  --a3-99: #{a3.$tone-99};
  --a3-100: #{a3.$tone-100};
}

@mixin neutrals() {
  --n1-0: #{n1.$tone-0};
  --n1-10: #{n1.$tone-10};
  --n1-20: #{n1.$tone-20};
  --n1-25: #{n1.$tone-25};
  --n1-30: #{n1.$tone-30};
  --n1-40: #{n1.$tone-40};
  --n1-50: #{n1.$tone-50};
  --n1-60: #{n1.$tone-60};
  --n1-70: #{n1.$tone-70};
  --n1-80: #{n1.$tone-80};
  --n1-90: #{n1.$tone-90};
  --n1-92: #{n1.$tone-92};
  --n1-94: #{n1.$tone-94};
  --n1-95: #{n1.$tone-95};
  --n1-96: #{n1.$tone-96};
  --n1-98: #{n1.$tone-98};
  --n1-99: #{n1.$tone-99};
  --n1-100: #{n1.$tone-100};
  --n2-0: #{n2.$tone-0};
  --n2-10: #{n2.$tone-10};
  --n2-20: #{n2.$tone-20};
  --n2-25: #{n2.$tone-25};
  --n2-30: #{n2.$tone-30};
  --n2-40: #{n2.$tone-40};
  --n2-50: #{n2.$tone-50};
  --n2-60: #{n2.$tone-60};
  --n2-70: #{n2.$tone-70};
  --n2-80: #{n2.$tone-80};
  --n2-90: #{n2.$tone-90};
  --n2-92: #{n2.$tone-92};
  --n2-94: #{n2.$tone-94};
  --n2-95: #{n2.$tone-95};
  --n2-96: #{n2.$tone-96};
  --n2-98: #{n2.$tone-98};
  --n2-99: #{n2.$tone-99};
  --n2-100: #{n2.$tone-100};
}

@mixin app() {

  // App Accent #1
  --app-a1-rgb: #{color.red($app-a1)} #{color.green($app-a1)} #{color.blue($app-a1)};
  --app-on-a1-rgb: #{color.red($app-on-a1)} #{color.green($app-on-a1)} #{color.blue($app-on-a1)};
  --app-link-on-a1-rgb: #{color.red($app-on-a1-link)} #{color.green($app-on-a1-link)} #{color.blue($app-on-a1-link)};
  --app-a1: rgb(var(--app-a1-rgb) / 1);
  --app-on-a1: rgb(var(--app-on-a1-rgb) / 1);
  --app-link-on-a1: rgb(var(--app-link-on-a1-rgb) / 1);

  // App Accent #2
  --app-a2-rgb: #{color.red($app-a2)} #{color.green($app-a2)} #{color.blue($app-a2)};
  --app-on-a2-rgb: #{color.red($app-on-a2)} #{color.green($app-on-a2)} #{color.blue($app-on-a2)};
  --app-link-on-a2-rgb: #{color.red($app-on-a2-link)} #{color.green($app-on-a2-link)} #{color.blue($app-on-a2-link)};
  --app-a2: rgb(var(--app-a2-rgb) / 1);
  --app-on-a2: rgb(var(--app-on-a2-rgb) / 1);
  --app-link-on-a2: rgb(var(--app-link-on-a2-rgb) / 1);

  // App Accent #3
  --app-a3-rgb: #{color.red($app-a3)} #{color.green($app-a3)} #{color.blue($app-a3)};
  --app-on-a3-rgb: #{color.red($app-on-a3)} #{color.green($app-on-a3)} #{color.blue($app-on-a3)};
  --app-link-on-a3-rgb: #{color.red($app-on-a3-link)} #{color.green($app-on-a3-link)} #{color.blue($app-on-a3-link)};
  --app-a3: rgb(var(--app-a3-rgb) / 1);
  --app-on-a3: rgb(var(--app-on-a3-rgb) / 1);
  --app-link-on-a3: rgb(var(--app-link-on-a3-rgb) / 1);

  // App Container #1
  --app-c1-rgb: #{color.red($app-c1)} #{color.green($app-c1)} #{color.blue($app-c1)};
  --app-on-c1-rgb: #{color.red($app-on-c1)} #{color.green($app-on-c1)} #{color.blue($app-on-c1)};
  --app-link-on-c1-rgb: #{color.red($app-on-c1-link)} #{color.green($app-on-c1-link)} #{color.blue($app-on-c1-link)};
  --app-c1: rgb(var(--app-c1-rgb) / 1);
  --app-on-c1: rgb(var(--app-on-c1-rgb) / 1);
  --app-link-on-c1: rgb(var(--app-link-on-c1-rgb) / 1);

  // App Container #2
  --app-c2-rgb: #{color.red($app-c2)} #{color.green($app-c2)} #{color.blue($app-c2)};
  --app-on-c2-rgb: #{color.red($app-on-c2)} #{color.green($app-on-c2)} #{color.blue($app-on-c2)};
  --app-link-on-c2-rgb: #{color.red($app-on-c2-link)} #{color.green($app-on-c2-link)} #{color.blue($app-on-c2-link)};
  --app-c2: rgb(var(--app-c2-rgb) / 1);
  --app-on-c2: rgb(var(--app-on-c2-rgb) / 1);
  --app-link-on-c2: rgb(var(--app-link-on-c2-rgb) / 1);

  // App Container #3
  --app-c3-rgb: #{color.red($app-c3)} #{color.green($app-c3)} #{color.blue($app-c3)};
  --app-on-c3-rgb: #{color.red($app-on-c3)} #{color.green($app-on-c3)} #{color.blue($app-on-c3)};
  --app-link-on-c3-rgb: #{color.red($app-on-c3-link)} #{color.green($app-on-c3-link)} #{color.blue($app-on-c3-link)};
  --app-c3: rgb(var(--app-c3-rgb) / 1);
  --app-on-c3: rgb(var(--app-on-c3-rgb) / 1);
  --app-link-on-c3: rgb(var(--app-link-on-c3-rgb) / 1);

  // App Neutral #1
  --app-n1-rgb: #{color.red($app-n1)} #{color.green($app-n1)} #{color.blue($app-n1)};
  --app-e2-rgb: #{color.rgb($app-e2)};
  --app-e3-rgb: #{color.rgb($app-e3)};
  --app-e4-rgb: #{color.rgb($app-e4)};
  --app-e5-rgb: #{color.rgb($app-e5)};
  --app-on-n1-rgb: #{color.red($app-on-n1)} #{color.green($app-on-n1)} #{color.blue($app-on-n1)};
  --app-link-on-n1-rgb: #{color.red($app-on-n1-link)} #{color.green($app-on-n1-link)} #{color.blue($app-on-n1-link)};
  --app-n1: rgb(var(--app-n1-rgb) / 1);
  --app-on-n1: rgb(var(--app-on-n1-rgb) / 1);
  --app-link-on-n1: rgb(var(--app-link-on-n1-rgb) / 1);

  // App Neutral #2
  --app-n2-rgb: #{color.red($app-n2)} #{color.green($app-n2)} #{color.blue($app-n2)};
  --app-on-n2-rgb: #{color.red($app-on-n2)} #{color.green($app-on-n2)} #{color.blue($app-on-n2)};
  --app-link-on-n2-rgb: #{color.red($app-on-n2-link)} #{color.green($app-on-n2-link)} #{color.blue($app-on-n2-link)};
  --app-n2: rgb(var(--app-n2-rgb) / 1);
  --app-on-n2: rgb(var(--app-on-n2-rgb) / 1);
  --app-link-on-n2: rgb(var(--app-link-on-n2-rgb) / 1);

  // App Outline
  --app-outline-rgb: #{color.red($app-outline)} #{color.green($app-outline)} #{color.blue($app-outline)};
  --app-outline: rgb(var(--app-outline-rgb) / 1);
  --app-divider: #{$app-divider};
  --app-shadow: #{$app-shadow};

  // App Inverse
  --app-inverse-rgb: #{color.red($app-inverse)} #{color.green($app-inverse)} #{color.blue($app-inverse)};
  --app-on-inverse-rgb: #{color.red($app-on-inverse)} #{color.green($app-on-inverse)} #{color.blue($app-on-inverse)};
  --app-link-on-inverse-rgb: #{color.red($app-on-inverse-link)} #{color.green($app-on-inverse-link)} #{color.blue($app-on-inverse-link)};
  --app-inverse: rgb(var(--app-inverse-rgb) / 1);
  --app-on-inverse: rgb(var(--app-on-inverse-rgb) / 1);
  --app-link-on-inverse: rgb(var(--app-link-on-inverse-rgb) / 1);

  // App Context Colors
  --body-bg: #{$app-body};
  --app-bg:#{$app-bg};
  --app-success: #{success.$color};
  --app-on-success: #{success.$on-color};
  --app-warning: #{warning.$color};
  --app-on-warning: #{warning.$on-color};
  --app-danger: #{danger.$color};
  --app-on-danger: #{danger.$on-color};
}

//noinspection DuplicatedCode
@mixin theme() {
  // RGB
  --theme-bg-rgb: var(--app-n1-rgb);
  --theme-e2-rgb: var(--app-e2-rgb);
  --theme-e3-rgb: var(--app-e3-rgb);
  --theme-e4-rgb: var(--app-e4-rgb);
  --theme-e5-rgb: var(--app-e5-rgb);
  --theme-on-bg-rgb: var(--app-on-n1-rgb);
  --theme-link-on-bg-rgb: var(--app-link-on-n1-rgb);
  --theme-n2-rgb: var(--app-n2-rgb);
  --theme-on-n2-rgb: var(--app-on-n2-rgb);
  --theme-link-on-n2-rgb: var(--app-link-on-n2-rgb);
  --theme-inverse-rgb: var(--app-inverse-rgb);
  --theme-link-on-inverse-rgb: var(--app-link-on-inverse-rgb);
  --theme-color-rgb: var(--app-a1-rgb);
  --theme-on-color-rgb: var(--app-on-a1-rgb);
  --theme-link-on-color-rgb: var(--app-link-on-a1-rgb);
  --theme-c1-rgb: var(--app-c1-rgb);
  --theme-link-on-c1-rgb: var(--app-link-on-c1-rgb);
  --theme-c2-rgb: var(--app-c2-rgb);
  --theme-link-on-c2-rgb: var(--app-link-on-c2-rgb);
  --theme-outline-rgb: var(--app-outline-rgb);
  // Actual Values
  --theme-bg: var(--app-n1);
  --theme-on-bg: var(--app-on-n1);
  --theme-link-on-bg: var(--app-link-on-n1);
  --theme-n2: var(--app-n2);
  --theme-on-n2: var(--app-on-n2);
  --theme-link-on-n2: var(--app-link-on-n2);
  --theme-outline: var(--app-outline);
  --theme-divider: var(--app-divider);
  --theme-shadow: var(--app-shadow);
  --theme-inverse: var(--app-inverse);
  --theme-on-inverse: var(--app-on-inverse);
  --theme-link-on-inverse: var(--app-link-on-inverse);
  --theme-color: var(--app-a1);
  --theme-on-color: var(--app-on-a1);
  --theme-link-on-color: var(--app-link-on-a1);
  --theme-c1: var(--app-c1);
  --theme-on-c1: var(--app-on-c1);
  --theme-link-on-c1: var(--app-link-on-c1);
  --theme-c2: var(--app-c2);
  --theme-on-c2: var(--app-on-c2);
  --theme-link-on-c2: var(--app-link-on-c2);
}

@mixin color() {
  // RGB
  --color-bg-rgb: var(--theme-bg-rgb);
  --color-e2-rgb: var(--theme-e2-rgb);
  --color-e3-rgb: var(--theme-e3-rgb);
  --color-e4-rgb: var(--theme-e4-rgb);
  --color-e5-rgb: var(--theme-e5-rgb);
  --color-link-on-bg-rgb: var(--theme-link-on-bg-rgb);
  --color-n2-rgb: var(--theme-n2-rgb);
  --color-link-on-n2-rgb: var(--theme-link-on-n2-rgb);
  --color-inverse-rgb: var(--theme-inverse-rgb);
  --color-link-on-inverse-rgb: var(--theme-link-on-inverse-rgb);
  --color-color-rgb: var(--theme-color-rgb);
  --color-link-on-color-rgb: var(--theme-link-on-color-rgb);
  --color-c1-rgb: var(--theme-c1-rgb);
  --color-link-on-c1-rgb: var(--theme-link-on-c1-rgb);
  // Actual Colors
  --color-bg: rgb(var(--color-bg-rgb) / 1);
  --color-e2: rgb(var(--color-e2-rgb) / 1);
  --color-e3: rgb(var(--color-e3-rgb) / 1);
  --color-e4: rgb(var(--color-e4-rgb) / 1);
  --color-e5: rgb(var(--color-e5-rgb) / 1);
  --color-text: var(--theme-on-bg);
  --color-icon: var(--theme-on-bg);
  --color-link: rgb(var(--color-link-on-bg-rgb) / 1);
  --color-neutral: rgb(var(--color-n2-rgb));
  --color-on-neutral: var(--theme-on-n2);
  --color-on-neutral-link: rgb(var(--color-link-on-n2-rgb) / 1);
  --color-outline: var(--theme-outline);
  --color-divider: var(--theme-divider);
  --color-inverse-bg: var(--theme-inverse);
  --color-inverse-text: var(--theme-on-inverse);
  --color-inverse-link: rgb(var(--color-link-on-inverse-rgb) / 1);
}

// endregion ///////////////////////////////////////////// End Color & Theme

// region //////////////////////////////////////////////// Context

@mixin success() {
  @include success.custom-properties;
}

@mixin feature() {
  @include feature.custom-properties;
}

@mixin danger() {
  @include danger.custom-properties;
}

@mixin warning() {
  @include warning.custom-properties;
}

@mixin a1() {
  @include major.custom-properties;
}

@mixin a2() {
  @include minor.custom-properties;
}

@mixin a3() {
  @include feature.custom-properties;
}

// endregion ///////////////////////////////////////////// End Context

// region //////////////////////////////////////////////// Typography

// Typography
$font-monospace: type.$font-monospace !default;
$font-normal: type.$font-normal !default;
$font-table: type.$font-table !default;
$font-size: type.$size-base !default;
$font-size-root: type.$size-root !default;
$font-height: type.$height-base !default;
$font-lg-size: type.$size-lg !default;
$font-sm-size: type.$size-sm !default;
$font-lg-height: type.$height-lg !default;
$font-sm-height: type.$height-sm !default;
$font-size-input: type.$size-input !default;
$font-height-input: type.$height-input !default;
$font-weight-light: type.$weight-light !default;
$font-weight-medium: type.$weight-medium !default;
$font-weight-normal: type.$weight-base !default;
$font-weight-bold: type.$weight-bold !default;
$font-url: type.$font-url !default;

@mixin typography() {
  --font-monospace: #{$font-monospace};
  --font-table: #{$font-table};
  --font-normal: #{$font-normal};
  --font-size-sm: #{$font-sm-size};
  --font-size-root: #{$font-size-root};
  --font-size: #{$font-size};
  --font-size-lg: #{$font-lg-size};
  --font-weight-normal: #{type.$weight-base};
  --font-weight-bold: #{type.$weight-bold};
  --font-weight-medium: #{type.$weight-medium};
  --font-weight-light: #{type.$weight-light};
  --line-height-normal: #{$font-height};
  --input-line-height: #{$font-height-input};
  --line-height-lg: #{$font-lg-height};
  --input-font-size: #{$font-size-input};
  --label-font-size: var(--input-font-size);
  --icon-size: #{type.$size-icon};
}

// endregion ///////////////////////////////////////////// End Typography

// region //////////////////////////////////////////////// Spacing

// Spacing
$spacer: spacing.$spacer;
$spacer-half: spacing.$half-spacer;
$padding-x: spacing.$padding-x;
$padding-y: spacing.$padding-y;
$padding-half-x: spacing.$half-padding-x;
$padding-half-y: spacing.$half-padding-y;
$padding-x-input: spacing.$padding-x-input;
$padding-y-input: spacing.$padding-y-input;
$gap-column: spacing.$gap-column;
$gap-row: spacing.$gap-row;
$columns: spacing.$columns;
$width-border: decor.$width-border;

@mixin spacing() {
  --spacer: #{$spacer};
  --spacer-half: #{$spacer-half};
  --padding-x: #{$padding-x};
  --padding-y: calc(var(--padding-x) / 2);
  --offset-x: calc(var(--padding-x) * -1);
  --offset-y: calc(var(--padding-y) * -1);
  --padding-half-x: calc(var(--padding-x) / 2);
  --padding-half-y: calc(var(--padding-y) / 2);

  // Input Spacing
  --input-padding-x: calc(var(--spacer) * .75);
  --input-padding-y: calc(var(--spacer) * .5);
  --input-padding-half-x: calc(var(--input-padding-x) / 2);
  --input-padding-half-y: calc(var(--input-padding-y) / 2);
  --input-height: calc(var(--input-font-size) + (var(--input-padding-y) * 2));
  --label-height: calc((var(--label-font-size) * var(--input-line-height)) + var(--input-padding-y) + (var(--input-padding-y) / 2));
  --label-width: 10%;

  // Btn Spacing
  --btn-padding-x: var(--input-padding-x);
  --btn-padding-y: var(--input-padding-y);

  // Grid
  --grid-columns: #{$columns};
  --table-columns: #{$columns};
  --gap-column: #{$gap-column};
  --gap-row: #{$gap-row};
}

// endregion ///////////////////////////////////////////// End Spacing

// region //////////////////////////////////////////////// Layout & Responsive

// Responsive
$screen-device-min: screen.$device-min;
$screen-desktop-min: screen.$desktop-min;
$screen-overflow: screen.$overflow;

// Width Breakpoints
$screen-xs-min: screen.$xs-min;
$screen-sm-min: screen.$sm-min;
$screen-md-min: screen.$md-min;
$screen-lg-min: screen.$lg-min;
$screen-xl-min: screen.$xl-min;
$screen-xs-max: screen.$xs-max;
$screen-sm-max: screen.$sm-max;
$screen-md-max: screen.$sm-max;
$screen-lg-max: screen.$lg-max;
$screen-xl-max: screen.$xl-max;

// DPI Breakpoints
$screen-dpi-hi: screen.$dpi-hi;

// Width Breakpoint Maps
$screen-up: screen.$breakpoints-up;
$screen-down: screen.$breakpoints-down;

// Layout
$layout-width-drawer: layout.$width-sidebar;
$layout-height-header: layout.$height-header;
$layout-height-footer: layout.$height-footer;

@mixin layout() {
  --width-sidebar: #{$layout-width-drawer};
  --height-header: #{$layout-height-header};
  --height-footer: #{$layout-height-footer};
  --row-main: 1;
  --row-header: 1;
  --row-footer: 2;
  --column-main: 1;
  --column-sidebar: 1;
}

@mixin responsive() {
  --width-device:  #{$screen-device-min};
  --width-desktop: #{$screen-desktop-min};
  --overflow-body: #{$screen-overflow};
}

// Stacking
$zindex-dropdown: ref.$zindex-dropdown !default;
$zindex-header: ref.$zindex-header !default;
$zindex-drawer-backdrop: ref.$zindex-drawer-backdrop !default;
$zindex-drawer: ref.$zindex-drawer !default;
$zindex-menu-backdrop: ref.$zindex-menu-backdrop !default;
$zindex-menu: ref.$zindex-menu !default;
$zindex-dialog-backdrop: ref.$zindex-dialog-backdrop !default;
$zindex-dialog: ref.$zindex-dialog !default;
$zindex-tooltip: ref.$zindex-tooltip !default;
$zindex-toast: ref.$zindex-toast !default;

// endregion ///////////////////////////////////////////// End Layout & Responsive

// region //////////////////////////////////////////////// Other Decoration

// Decoration
$decoration-link: type.$decoration-link;
$decoration-link-hover: type.$decoration-link-hover;
$border-width: spacing.$width-border;
$border-radius: spacing.$radius-border;
$outline-width: spacing.$width-outline;

// Transitions
$transition-base: decor.$transition-base;
$transition-fade: decor.$transition-fade;
$transition-collapse: decor.$transition-collapse;
$transition-button: decor.$transition-button;
$transition-button-flat: decor.$transition-button-flat;

// Input Symbols
$cursor-strong: decor.$cursor-strong;
$cursor-disabled: decor.$cursor-disabled;
$bg-image-date: icons.$bg-image-date;
$bg-image-time: icons.$bg-image-time;
$bg-image-select: icons.$bg-image-select;
$bg-image-number: icons.$bg-image-number;

// Table
$table-sort-position: table.$sort-position !default;
$table-responsive: table.$responsive !default;

// Scrollbar
$scrollbar-inline-width: decor.$scrollbar-inline-width;
$scrollbar-inline-color: decor.$scrollbar-inline-color;
$scrollbar-inline-thumb: decor.$scrollbar-inline-thumb;

// Opacity
$opacity-bg-disabled: decor.$opacity-bg-disabled !default;
$opacity-text-disabled: decor.$opacity-text-disabled !default;
$opacity-hover: decor.$opacity-hover !default;
$opacity-focus: decor.$opacity-focus !default;
$opacity-pressed: decor.$opacity-pressed !default;
$opacity-control: decor.$opacity-control !default;
$opacity-busy: decor.$opacity-busy !default;

@mixin decoration() {
  --cursor-strong: #{$cursor-strong};
  --cursor-disabled: #{$cursor-disabled};
  --transition-fade: #{$transition-fade};
  --link-decoration: #{$decoration-link};
  --link-decoration-hover: #{$decoration-link-hover};
  --border-width: #{$border-width};
  --outline-width: calc(var(--border-width) * 2);
  --border-radius: #{$border-radius};
  --modal-filter: #{decor.$filter-dialog};
  --modal-bg: #{decor.$color-bg-dialog};
  --scrollbar-inline-width: #{$scrollbar-inline-width};
  --scrollbar-inline-color: #{$scrollbar-inline-color};
  --scrollbar-inline-thumb: #{$scrollbar-inline-thumb};
  --opacity-hover: #{if(math.is-unitless($opacity-hover), $opacity-hover, math.div($opacity-hover, 100%))};
  --opacity-focus: #{if(math.is-unitless($opacity-focus), $opacity-focus, math.div($opacity-focus, 100%))};
  --opacity-grid: #{if(math.is-unitless($opacity-hover), $opacity-hover * 2, math.div($opacity-hover * 2, 100%))};
  --opacity-pressed: #{if(math.is-unitless($opacity-pressed), $opacity-pressed, math.div($opacity-pressed, 100%))};
  --opacity-control: #{if(math.is-unitless($opacity-control), $opacity-control, math.div($opacity-control, 100%))};
  --opacity-busy: #{$opacity-busy};
  --opacity-disabled: #{if(math.is-unitless($opacity-text-disabled), $opacity-text-disabled, math.div($opacity-text-disabled, 100%))};
  --opacity-disabled-bg: #{if(math.is-unitless($opacity-bg-disabled), $opacity-bg-disabled, math.div($opacity-bg-disabled, 100%))};
  --opacity-readonly: #{if(math.is-unitless($opacity-text-disabled), $opacity-text-disabled * 2, math.div($opacity-text-disabled, 100%) * 2)};
  --opacity-readonly-bg: #{if(math.is-unitless($opacity-bg-disabled), $opacity-bg-disabled * 2, math.div($opacity-bg-disabled, 100%) * 4)};
  --opacity-elevation-1: #{elevation.opacity(1)};
  --opacity-elevation-2: #{elevation.opacity(2)};
  --opacity-elevation-3: #{elevation.opacity(3)};
  --opacity-elevation-4: #{elevation.opacity(4)};
  --opacity-elevation-5: #{elevation.opacity(5)};
  --opacity-elevation: 0;
  --ui-transform: #{decor.$ui-transform};
}

@mixin elevation() {
  .-level-1 { --opacity-elevation: #{elevation.opacity(1)}; }
  .-level-2 { --opacity-elevation: #{elevation.opacity(2)}; }
  .-level-3 { --opacity-elevation: #{elevation.opacity(3)}; }
  .-level-4 { --opacity-elevation: #{elevation.opacity(4)}; }
  .-level-5 { --opacity-elevation: #{elevation.opacity(5)}; }
}

// endregion ///////////////////////////////////////////// End Other Decoration
