// SASS Modules
@use "../modules/color/sass-color" as color;
@use "sass:math";
@use "sass:map";
// Reference Tokens
@use "reference" as ref;
// Calculated Tokens
@use "../modules/typography" as type;
@use "../modules/layout";
@use "../modules/theme/spacing";
@use "../modules/theme/colors";
@use "../modules/theme/neutrals";
@use "../modules/theme/elevation";
@use "../modules/palette/palette";
// Configured Tokens
@use "config/screen";
@use "config/features";
@use "config/icons";
@use "config/table";
@use "config/decoration" as decor;
@use "config/roles";
@use "config/n1";
@use "config/n2";
@use "config/a1";
@use "config/a2";
@use "config/a3";
@use "config/success";
@use "config/danger";
@use "config/warning";

// region //////////////////////////////////////////////// Features

$feature-hct: features.$hct;
$feature-badge: features.$badge;
$feature-drawer: features.$drawer;
$feature-header: features.$hct;
$feature-footer: features.$footer;
$feature-grid: features.$grid;

// endregion ///////////////////////////////////////////// End Features

// region //////////////////////////////////////////////// Color & Theme

// App Background & Neutrals
$a1-body: a1.$body;
$a1-bg: a1.$bg;
$a1-e2: a1.$e2;
$a1-e3: a1.$e2;
$a1-e4: a1.$e2;
$a1-e5: a1.$e2;
$a1-on-n1: a1.$on-bg;
$a1-on-n1-link: a1.$on-bg-link;
$a1-n2: a1.$n2;
$a1-on-n2: a1.$on-n2;
$a1-on-n2-link: a1.$on-n2-link;
$a1-outline: a1.$outline;
$a1-divider: a1.$divider;
$a1-shadow: a1.$shadow;
$a1-inverse: a1.$inverse;
$a1-on-inverse: a1.$on-inverse;
$a1-on-inverse-link: a1.$on-inverse-link;

// Theme Accent #1
$a1-color: a1.$color;
$a1-on-color: a1.$on-color;
$a1-on-color-link: a1.$on-color-link;
$a1-c1: a1.$c1;
$a1-on-c1: a1.$on-c1;
$a1-on-c1-link: a1.$on-c1-link;

// Theme Accent #2
$a2-color: a2.$color;
$a2-on-color: a2.$on-color;
$a2-on-color-link: a2.$on-color-link;
$a2-c1: a2.$c1;
$a2-on-c1: a2.$on-c1;
$a2-on-c1-link: a2.$on-c1-link;

// Theme Accent #3
$a3-color: a3.$color;
$a3-on-color: a3.$on-color;
$a3-on-color-link: a3.$on-color-link;
$a3-c1: a3.$c1;
$a3-on-c1: a3.$on-c1;
$a3-on-c1-link: a3.$on-c1-link;

@mixin accents-rgb() {
  --a1-0-rgb: #{color.rgb(a1.$tone-0)};
  --a1-10-rgb: #{color.rgb(a1.$tone-10)};
  --a1-20-rgb: #{color.rgb(a1.$tone-20)};
  --a1-25-rgb: #{color.rgb(a1.$tone-25)};
  --a1-30-rgb: #{color.rgb(a1.$tone-30)};
  --a1-40-rgb: #{color.rgb(a1.$tone-40)};
  --a1-50-rgb: #{color.rgb(a1.$tone-50)};
  --a1-60-rgb: #{color.rgb(a1.$tone-60)};
  --a1-70-rgb: #{color.rgb(a1.$tone-70)};
  --a1-80-rgb: #{color.rgb(a1.$tone-80)};
  --a1-90-rgb: #{color.rgb(a1.$tone-90)};
  --a1-95-rgb: #{color.rgb(a1.$tone-95)};
  --a1-98-rgb: #{color.rgb(a1.$tone-98)};
  --a1-99-rgb: #{color.rgb(a1.$tone-99)};
  --a1-100-rgb: #{color.rgb(a1.$tone-100)};
  --a2-0-rgb: #{color.rgb(a2.$tone-0)};
  --a2-10-rgb: #{color.rgb(a2.$tone-10)};
  --a2-20-rgb: #{color.rgb(a2.$tone-20)};
  --a2-25-rgb: #{color.rgb(a2.$tone-25)};
  --a2-30-rgb: #{color.rgb(a2.$tone-30)};
  --a2-40-rgb: #{color.rgb(a2.$tone-40)};
  --a2-50-rgb: #{color.rgb(a2.$tone-50)};
  --a2-60-rgb: #{color.rgb(a2.$tone-60)};
  --a2-70-rgb: #{color.rgb(a2.$tone-70)};
  --a2-80-rgb: #{color.rgb(a2.$tone-80)};
  --a2-90-rgb: #{color.rgb(a2.$tone-90)};
  --a2-95-rgb: #{color.rgb(a2.$tone-95)};
  --a2-98-rgb: #{color.rgb(a2.$tone-98)};
  --a2-99-rgb: #{color.rgb(a2.$tone-99)};
  --a2-100-rgb: #{color.rgb(a2.$tone-100)};
  --a3-0-rgb: #{color.rgb(a3.$tone-0)};
  --a3-10-rgb: #{color.rgb(a3.$tone-10)};
  --a3-20-rgb: #{color.rgb(a3.$tone-20)};
  --a3-25-rgb: #{color.rgb(a3.$tone-25)};
  --a3-30-rgb: #{color.rgb(a3.$tone-30)};
  --a3-40-rgb: #{color.rgb(a3.$tone-40)};
  --a3-50-rgb: #{color.rgb(a3.$tone-50)};
  --a3-60-rgb: #{color.rgb(a3.$tone-60)};
  --a3-70-rgb: #{color.rgb(a3.$tone-70)};
  --a3-80-rgb: #{color.rgb(a3.$tone-80)};
  --a3-90-rgb: #{color.rgb(a3.$tone-90)};
  --a3-95-rgb: #{color.rgb(a3.$tone-95)};
  --a3-98-rgb: #{color.rgb(a3.$tone-98)};
  --a3-99-rgb: #{color.rgb(a3.$tone-99)};
  --a3-100-rgb: #{color.rgb(a3.$tone-100)};
}

@mixin neutrals-rgb() {
  --n1-0-rgb: #{color.rgb(n1.$tone-0)};
  --n1-10-rgb: #{color.rgb(n1.$tone-10)};
  --n1-20-rgb: #{color.rgb(n1.$tone-20)};
  --n1-25-rgb: #{color.rgb(n1.$tone-25)};
  --n1-30-rgb: #{color.rgb(n1.$tone-30)};
  --n1-40-rgb: #{color.rgb(n1.$tone-40)};
  --n1-50-rgb: #{color.rgb(n1.$tone-50)};
  --n1-60-rgb: #{color.rgb(n1.$tone-60)};
  --n1-70-rgb: #{color.rgb(n1.$tone-70)};
  --n1-80-rgb: #{color.rgb(n1.$tone-80)};
  --n1-90-rgb: #{color.rgb(n1.$tone-90)};
  --n1-92-rgb: #{color.rgb(n1.$tone-92)};
  --n1-94-rgb: #{color.rgb(n1.$tone-94)};
  --n1-95-rgb: #{color.rgb(n1.$tone-95)};
  --n1-96-rgb: #{color.rgb(n1.$tone-96)};
  --n1-98-rgb: #{color.rgb(n1.$tone-98)};
  --n1-99-rgb: #{color.rgb(n1.$tone-99)};
  --n1-100-rgb: #{color.rgb(n1.$tone-100)};
  --n2-0-rgb: #{color.rgb(n2.$tone-0)};
  --n2-10-rgb: #{color.rgb(n2.$tone-10)};
  --n2-20-rgb: #{color.rgb(n2.$tone-20)};
  --n2-25-rgb: #{color.rgb(n2.$tone-25)};
  --n2-30-rgb: #{color.rgb(n2.$tone-30)};
  --n2-40-rgb: #{color.rgb(n2.$tone-40)};
  --n2-50-rgb: #{color.rgb(n2.$tone-50)};
  --n2-60-rgb: #{color.rgb(n2.$tone-60)};
  --n2-70-rgb: #{color.rgb(n2.$tone-70)};
  --n2-80-rgb: #{color.rgb(n2.$tone-80)};
  --n2-90-rgb: #{color.rgb(n2.$tone-90)};
  --n2-92-rgb: #{color.rgb(n2.$tone-92)};
  --n2-94-rgb: #{color.rgb(n2.$tone-94)};
  --n2-95-rgb: #{color.rgb(n2.$tone-95)};
  --n2-96-rgb: #{color.rgb(n2.$tone-96)};
  --n2-98-rgb: #{color.rgb(n2.$tone-98)};
  --n2-99-rgb: #{color.rgb(n2.$tone-99)};
  --n2-100-rgb: #{color.rgb(n2.$tone-100)};
}

@mixin accents() {
  --a1-0: rgb(var(--a1-0-rgb) / 1);
  --a1-10: rgb(var(--a1-10-rgb) / 1);
  --a1-20: rgb(var(--a1-20-rgb) / 1);
  --a1-25: rgb(var(--a1-25-rgb) / 1);
  --a1-30: rgb(var(--a1-30-rgb) / 1);
  --a1-40: rgb(var(--a1-40-rgb) / 1);
  --a1-50: rgb(var(--a1-50-rgb) / 1);
  --a1-60: rgb(var(--a1-60-rgb) / 1);
  --a1-70: rgb(var(--a1-70-rgb) / 1);
  --a1-80: rgb(var(--a1-80-rgb) / 1);
  --a1-90: rgb(var(--a1-90-rgb) / 1);
  --a1-95: rgb(var(--a1-95-rgb) / 1);
  --a1-98: rgb(var(--a1-98-rgb) / 1);
  --a1-99: rgb(var(--a1-99-rgb) / 1);
  --a1-100: rgb(var(--a1-100-rgb) / 1);
  --a2-0: rgb(var(--a2-0-rgb) / 1);
  --a2-10: rgb(var(--a2-10-rgb) / 1);
  --a2-20: rgb(var(--a2-20-rgb) / 1);
  --a2-25: rgb(var(--a2-25-rgb) / 1);
  --a2-30: rgb(var(--a2-30-rgb) / 1);
  --a2-40: rgb(var(--a2-40-rgb) / 1);
  --a2-50: rgb(var(--a2-50-rgb) / 1);
  --a2-60: rgb(var(--a2-60-rgb) / 1);
  --a2-70: rgb(var(--a2-70-rgb) / 1);
  --a2-80: rgb(var(--a2-80-rgb) / 1);
  --a2-90: rgb(var(--a2-90-rgb) / 1);
  --a2-95: rgb(var(--a2-95-rgb) / 1);
  --a2-98: rgb(var(--a2-98-rgb) / 1);
  --a2-99: rgb(var(--a2-99-rgb) / 1);
  --a2-100: rgb(var(--a2-100-rgb) / 1);
  --a3-0: rgb(var(--a3-0-rgb) / 1);
  --a3-10: rgb(var(--a3-10-rgb) / 1);
  --a3-20: rgb(var(--a3-20-rgb) / 1);
  --a3-25: rgb(var(--a3-25-rgb) / 1);
  --a3-30: rgb(var(--a3-30-rgb) / 1);
  --a3-40: rgb(var(--a3-40-rgb) / 1);
  --a3-50: rgb(var(--a3-50-rgb) / 1);
  --a3-60: rgb(var(--a3-60-rgb) / 1);
  --a3-70: rgb(var(--a3-70-rgb) / 1);
  --a3-80: rgb(var(--a3-80-rgb) / 1);
  --a3-90: rgb(var(--a3-90-rgb) / 1);
  --a3-95: rgb(var(--a3-95-rgb) / 1);
  --a3-98: rgb(var(--a3-98-rgb) / 1);
  --a3-99: rgb(var(--a3-99-rgb) / 1);
  --a3-100: rgb(var(--a3-100-rgb) / 1);
}

@mixin neutrals() {
  --n1-0: rgb(var(--n1-0-rgb) / 1);
  --n1-10: rgb(var(--n1-10-rgb) / 1);
  --n1-20: rgb(var(--n1-20-rgb) / 1);
  --n1-25: rgb(var(--n1-25-rgb) / 1);
  --n1-30: rgb(var(--n1-30-rgb) / 1);
  --n1-40: rgb(var(--n1-40-rgb) / 1);
  --n1-50: rgb(var(--n1-50-rgb) / 1);
  --n1-60: rgb(var(--n1-60-rgb) / 1);
  --n1-70: rgb(var(--n1-70-rgb) / 1);
  --n1-80: rgb(var(--n1-80-rgb) / 1);
  --n1-90: rgb(var(--n1-90-rgb) / 1);
  --n1-92: rgb(var(--n1-92-rgb) / 1);
  --n1-94: rgb(var(--n1-94-rgb) / 1);
  --n1-95: rgb(var(--n1-95-rgb) / 1);
  --n1-96: rgb(var(--n1-96-rgb) / 1);
  --n1-98: rgb(var(--n1-98-rgb) / 1);
  --n1-99: rgb(var(--n1-99-rgb) / 1);
  --n1-100: rgb(var(--n1-100-rgb) / 1);
  --n2-0: rgb(var(--n2-0-rgb) / 1);
  --n2-10: rgb(var(--n2-10-rgb) / 1);
  --n2-20: rgb(var(--n2-20-rgb) / 1);
  --n2-25: rgb(var(--n2-25-rgb) / 1);
  --n2-30: rgb(var(--n2-30-rgb) / 1);
  --n2-40: rgb(var(--n2-40-rgb) / 1);
  --n2-50: rgb(var(--n2-50-rgb) / 1);
  --n2-60: rgb(var(--n2-60-rgb) / 1);
  --n2-70: rgb(var(--n2-70-rgb) / 1);
  --n2-80: rgb(var(--n2-80-rgb) / 1);
  --n2-90: rgb(var(--n2-90-rgb) / 1);
  --n2-92: rgb(var(--n2-92-rgb) / 1);
  --n2-94: rgb(var(--n2-94-rgb) / 1);
  --n2-95: rgb(var(--n2-95-rgb) / 1);
  --n2-96: rgb(var(--n2-96-rgb) / 1);
  --n2-98: rgb(var(--n2-98-rgb) / 1);
  --n2-99: rgb(var(--n2-99-rgb) / 1);
  --n2-100: rgb(var(--n2-100-rgb) / 1);
}

@mixin contexts() {
  @include a1.rgb;
  @include a2.rgb;
  @include a3.rgb;
  @include a1.properties;
  @include a2.properties;
  @include a3.properties;
  @include success.properties;
  @include danger.properties;
  @include warning.properties;
}

//noinspection DuplicatedCode
@mixin theme() {
  --body-bg: #{a1.$body};
  @include a1.theme;
}

@mixin color() {
  // RGB
  --color-bg-rgb: var(--theme-bg-rgb);
  --color-e2-rgb: var(--theme-e2-rgb);
  --color-e3-rgb: var(--theme-e3-rgb);
  --color-e4-rgb: var(--theme-e4-rgb);
  --color-e5-rgb: var(--theme-e5-rgb);
  --color-ha-rgb: var(--theme-ha-rgb);
  --color-hc-rgb: var(--theme-hc-rgb);
  --color-fa-rgb: var(--theme-fa-rgb);
  --color-fc-rgb: var(--theme-fc-rgb);
  --color-pa-rgb: var(--theme-pa-rgb);
  --color-pc-rgb: var(--theme-pc-rgb);
  --color-link-on-bg-rgb: var(--theme-link-on-bg-rgb);
  --color-n2-rgb: var(--theme-n2-rgb);
  --color-link-on-n2-rgb: var(--theme-link-on-n2-rgb);
  --color-inverse-rgb: var(--theme-inverse-rgb);
  --color-link-on-inverse-rgb: var(--theme-link-on-inverse-rgb);
  --color-color-rgb: var(--theme-color-rgb);
  --color-link-on-color-rgb: var(--theme-link-on-color-rgb);
  --color-c1-rgb: var(--theme-c1-rgb);
  --color-link-on-c1-rgb: var(--theme-link-on-c1-rgb);
  // Actual Colors
  --color-bg: rgb(var(--color-bg-rgb) / 1);
  --color-e2: rgb(var(--color-e2-rgb) / 1);
  --color-e3: rgb(var(--color-e3-rgb) / 1);
  --color-e4: rgb(var(--color-e4-rgb) / 1);
  --color-e5: rgb(var(--color-e5-rgb) / 1);
  --color-ha: rgb(var(--color-ha-rgb) / 1);
  --color-hc: rgb(var(--color-hc-rgb) / 1);
  --color-fa: rgb(var(--color-fa-rgb) / 1);
  --color-fc: rgb(var(--color-fc-rgb) / 1);
  --color-pa: rgb(var(--color-pa-rgb) / 1);
  --color-pc: rgb(var(--color-pc-rgb) / 1);
  --color-text: var(--theme-on-bg);
  --color-icon: var(--theme-on-bg);
  --color-link: rgb(var(--color-link-on-bg-rgb) / 1);
  --color-neutral: rgb(var(--color-n2-rgb));
  --color-on-neutral: var(--theme-on-n2);
  --color-on-neutral-link: rgb(var(--color-link-on-n2-rgb) / 1);
  --color-outline: var(--theme-outline);
  --color-divider: var(--theme-divider);
  --color-inverse-bg: var(--theme-inverse);
  --color-inverse-text: var(--theme-on-inverse);
  --color-inverse-link: rgb(var(--color-link-on-inverse-rgb) / 1);
}

// endregion ///////////////////////////////////////////// End Color & Theme

// region //////////////////////////////////////////////// Context

@mixin success() {
  @include success.theme;
}

@mixin danger() {
  @include danger.theme;
}

@mixin warning() {
  @include warning.theme;
}

@mixin a1() {
  @include a1.theme;
}

@mixin a2() {
  @include a2.theme;
}

@mixin a3() {
  @include a3.theme;
}

// endregion ///////////////////////////////////////////// End Context

// region //////////////////////////////////////////////// Typography

// Typography
$font-monospace: type.$font-monospace !default;
$font-normal: type.$font-normal !default;
$font-table: type.$font-table !default;
$font-size: type.$size-base !default;
$font-size-root: type.$size-root !default;
$font-height: type.$height-base !default;
$font-lg-size: type.$size-lg !default;
$font-sm-size: type.$size-sm !default;
$font-lg-height: type.$height-lg !default;
$font-sm-height: type.$height-sm !default;
$font-size-input: type.$size-input !default;
$font-height-input: type.$height-input !default;
$font-weight-light: type.$weight-light !default;
$font-weight-medium: type.$weight-medium !default;
$font-weight-normal: type.$weight-base !default;
$font-weight-bold: type.$weight-bold !default;
$font-url: type.$font-url !default;

@mixin typography() {
  --font-monospace: #{$font-monospace};
  --font-table: #{$font-table};
  --font-normal: #{$font-normal};
  --font-size-sm: #{$font-sm-size};
  --font-size-root: #{$font-size-root};
  --font-size: #{$font-size};
  --font-size-lg: #{$font-lg-size};
  --font-weight-normal: #{type.$weight-base};
  --font-weight-bold: #{type.$weight-bold};
  --font-weight-medium: #{type.$weight-medium};
  --font-weight-light: #{type.$weight-light};
  --line-height-normal: #{$font-height};
  --input-line-height: #{$font-height-input};
  --line-height-lg: #{$font-lg-height};
  --input-font-size: #{$font-size-input};
  --label-font-size: var(--input-font-size);
  --icon-size: #{type.$size-icon};
}

// endregion ///////////////////////////////////////////// End Typography

// region //////////////////////////////////////////////// Spacing

// Spacing
$spacer: spacing.$spacer;
$spacer-half: spacing.$half-spacer;
$padding-x: spacing.$padding-x;
$padding-y: spacing.$padding-y;
$padding-half-x: spacing.$half-padding-x;
$padding-half-y: spacing.$half-padding-y;
$padding-x-input: spacing.$padding-x-input;
$padding-y-input: spacing.$padding-y-input;
$gap-column: spacing.$gap-column;
$gap-row: spacing.$gap-row;
$columns: spacing.$columns;
$width-border: decor.$width-border;

@mixin spacing() {
  --spacer: #{$spacer};
  --spacer-half: #{$spacer-half};
  --padding-x: #{$padding-x};
  --padding-y: calc(var(--padding-x) / 2);
  --offset-x: calc(var(--padding-x) * -1);
  --offset-y: calc(var(--padding-y) * -1);
  --padding-half-x: calc(var(--padding-x) / 2);
  --padding-half-y: calc(var(--padding-y) / 2);

  // Input Spacing
  --input-padding-x: calc(var(--spacer) * .75);
  --input-padding-y: calc(var(--spacer) * .5);
  --input-padding-half-x: calc(var(--input-padding-x) / 2);
  --input-padding-half-y: calc(var(--input-padding-y) / 2);
  --input-height: calc(var(--input-font-size) + (var(--input-padding-y) * 2));
  --label-height: calc((var(--label-font-size) * var(--input-line-height)) + var(--input-padding-y) + (var(--input-padding-y) / 2));
  --label-width: 10%;

  // Btn Spacing
  --btn-padding-x: var(--input-padding-x);
  --btn-padding-y: var(--input-padding-y);

  // Grid
  --grid-columns: #{$columns};
  --table-columns: #{$columns};
  --gap-column: #{$gap-column};
  --gap-row: #{$gap-row};
}

// endregion ///////////////////////////////////////////// End Spacing

// region //////////////////////////////////////////////// Layout & Responsive

// Responsive
$screen-device-min: screen.$device-min;
$screen-desktop-min: screen.$desktop-min;
$screen-overflow: screen.$overflow;

// Width Breakpoints
$screen-xs-min: screen.$xs-min;
$screen-sm-min: screen.$sm-min;
$screen-md-min: screen.$md-min;
$screen-lg-min: screen.$lg-min;
$screen-xl-min: screen.$xl-min;
$screen-xs-max: screen.$xs-max;
$screen-sm-max: screen.$sm-max;
$screen-md-max: screen.$sm-max;
$screen-lg-max: screen.$lg-max;
$screen-xl-max: screen.$xl-max;

// DPI Breakpoints
$screen-dpi-hi: screen.$dpi-hi;

// Width Breakpoint Maps
$screen-up: screen.$breakpoints-up;
$screen-down: screen.$breakpoints-down;

// Layout
$layout-width-drawer: layout.$width-sidebar;
$layout-height-header: layout.$height-header;
$layout-height-footer: layout.$height-footer;

@mixin layout() {
  --width-sidebar: #{$layout-width-drawer};
  --height-header: #{$layout-height-header};
  --height-footer: #{$layout-height-footer};
  --row-main: 1;
  --row-header: 1;
  --row-footer: 2;
  --column-main: 1;
  --column-sidebar: 1;
}

@mixin responsive() {
  --width-device:  #{$screen-device-min};
  --width-desktop: #{$screen-desktop-min};
  --overflow-body: #{$screen-overflow};
  --max-width: 100%;
}

// Stacking
$zindex-dropdown: ref.$zindex-dropdown !default;
$zindex-header: ref.$zindex-header !default;
$zindex-drawer-backdrop: ref.$zindex-drawer-backdrop !default;
$zindex-drawer: ref.$zindex-drawer !default;
$zindex-menu-backdrop: ref.$zindex-menu-backdrop !default;
$zindex-menu: ref.$zindex-menu !default;
$zindex-dialog-backdrop: ref.$zindex-dialog-backdrop !default;
$zindex-dialog: ref.$zindex-dialog !default;
$zindex-tooltip: ref.$zindex-tooltip !default;
$zindex-toast: ref.$zindex-toast !default;

// endregion ///////////////////////////////////////////// End Layout & Responsive

// region //////////////////////////////////////////////// Other Decoration

// Decoration
$decoration-link: type.$decoration-link;
$decoration-link-hover: type.$decoration-link-hover;
$border-width: spacing.$width-border;
$border-radius: spacing.$radius-border;
$outline-width: spacing.$width-outline;

// Transitions
$transition-base: decor.$transition-base;
$transition-fade: decor.$transition-fade;
$transition-collapse: decor.$transition-collapse;
$transition-button: decor.$transition-button;
$transition-button-flat: decor.$transition-button-flat;

// Input Symbols
$cursor-strong: decor.$cursor-strong;
$cursor-disabled: decor.$cursor-disabled;
$bg-image-date: icons.$bg-image-date;
$bg-image-time: icons.$bg-image-time;
$bg-image-select: icons.$bg-image-select;
$bg-image-number: icons.$bg-image-number;

// Table
$table-sort-position: table.$sort-position !default;
$table-responsive: table.$responsive !default;

// Scrollbar
$scrollbar-inline-width: decor.$scrollbar-inline-width;
$scrollbar-inline-color: decor.$scrollbar-inline-color;
$scrollbar-inline-thumb: decor.$scrollbar-inline-thumb;

// Opacity
$opacity-bg-disabled: decor.$opacity-bg-disabled !default;
$opacity-text-disabled: decor.$opacity-text-disabled !default;
$opacity-hover: decor.$opacity-hover !default;
$opacity-focus: decor.$opacity-focus !default;
$opacity-pressed: decor.$opacity-pressed !default;
$opacity-control: decor.$opacity-control !default;
$opacity-busy: decor.$opacity-busy !default;

@mixin decoration() {
  --cursor-strong: #{$cursor-strong};
  --cursor-disabled: #{$cursor-disabled};
  --transition-fade: #{$transition-fade};
  --link-decoration: #{$decoration-link};
  --link-decoration-hover: #{$decoration-link-hover};
  --border-width: #{$border-width};
  --outline-width: calc(var(--border-width) * 2);
  --border-radius: #{$border-radius};
  --modal-filter: #{decor.$filter-dialog};
  --modal-bg: #{decor.$color-bg-dialog};
  --scrollbar-inline-width: #{$scrollbar-inline-width};
  --scrollbar-inline-color: #{$scrollbar-inline-color};
  --scrollbar-inline-thumb: #{$scrollbar-inline-thumb};
  --opacity-hover: #{if(math.is-unitless($opacity-hover), $opacity-hover, math.div($opacity-hover, 100%))};
  --opacity-focus: #{if(math.is-unitless($opacity-focus), $opacity-focus, math.div($opacity-focus, 100%))};
  --opacity-grid: #{if(math.is-unitless($opacity-hover), $opacity-hover * 2, math.div($opacity-hover * 2, 100%))};
  --opacity-pressed: #{if(math.is-unitless($opacity-pressed), $opacity-pressed, math.div($opacity-pressed, 100%))};
  --opacity-control: #{if(math.is-unitless($opacity-control), $opacity-control, math.div($opacity-control, 100%))};
  --opacity-busy: #{$opacity-busy};
  --opacity-disabled: #{if(math.is-unitless($opacity-text-disabled), $opacity-text-disabled, math.div($opacity-text-disabled, 100%))};
  --opacity-disabled-bg: #{if(math.is-unitless($opacity-bg-disabled), $opacity-bg-disabled, math.div($opacity-bg-disabled, 100%))};
  --opacity-readonly: #{if(math.is-unitless($opacity-text-disabled), $opacity-text-disabled * 2, math.div($opacity-text-disabled, 100%) * 2)};
  --opacity-readonly-bg: #{if(math.is-unitless($opacity-bg-disabled), $opacity-bg-disabled * 2, math.div($opacity-bg-disabled, 100%) * 4)};
  --opacity-elevation-1: #{elevation.opacity(1)};
  --opacity-elevation-2: #{elevation.opacity(2)};
  --opacity-elevation-3: #{elevation.opacity(3)};
  --opacity-elevation-4: #{elevation.opacity(4)};
  --opacity-elevation-5: #{elevation.opacity(5)};
  --opacity-elevation: 0;
  --ui-transform: #{decor.$ui-transform};
}

@mixin elevation() {
  .-level-1 { --opacity-elevation: #{elevation.opacity(1)}; }
  .-level-2 { --opacity-elevation: #{elevation.opacity(2)}; }
  .-level-3 { --opacity-elevation: #{elevation.opacity(3)}; }
  .-level-4 { --opacity-elevation: #{elevation.opacity(4)}; }
  .-level-5 { --opacity-elevation: #{elevation.opacity(5)}; }
}

// endregion ///////////////////////////////////////////// End Other Decoration
