@use "../tokens/system" as sys;

// General Resets, Credit Twitter Bootstrap
label {
  display: inline-block; // Allow margin to work
  color: var(--input-label);
  font-size: var(--label-font-size);
}

button {
  border-radius: 0; // Remove default for MacOS Chrome
  //noinspection ALL
  &:focus {
    outline: 1px dotted; // IE Transparent Button Focus Bug
    outline: 5px auto -webkit-focus-ring-color; // Firefox Transparent Button Focus Bug
  }
}

input, textarea, select, form .wrapper {
  --color-text: var(--theme-on-bg-alt);
  --color-bg: var(--theme-bg-alt);
  --color-outline: var(--theme-outline);
  --color-icon: var(--theme-on-bg-alt);
  --color-value: var(--theme-on-bg);
  --color-placeholder: var(--theme-on-bg-alt);
  --color-autofill: var(--theme-bg-alt);
  // RGB
  --color-text-red: var(--theme-bg-alt-red);
  --color-text-green: var(--theme-bg-alt-green);
  --color-text-blue: var(--theme-bg-alt-blue);
  --color-bg-red: var(--theme-bg-alt-red);
  --color-bg-green: var(--theme-bg-alt-green);
  --color-bg-blue: var(--theme-bg-alt-blue);
  --color-outline-red: var(--theme-outline-red);
  --color-outline-green: var(--theme-outline-green);
  --color-outline-blue: var(--theme-outline-blue);
  --color-icon-red: var(--theme-on-bg-alt-red);
  --color-icon-green: var(--theme-on-bg-alt-green);
  --color-icon-blue: var(--theme-on-bg-alt-blue);
  --color-value-red: var(--theme-on-bg-red);
  --color-value-green: var(--theme-on-bg-green);
  --color-value-blue: var(--theme-on-bg-blue);
  --color-placeholder-red: var(--theme-on-bg-alt-red);
  --color-placeholder-green: var(--theme-on-bg-alt-green);
  --color-placeholder-blue: var(--theme-on-bg-alt-blue);
  --color-autofill-red: var(--theme-bg-alt-red);
  --color-autofill-green: var(--theme-bg-alt-green);
  --color-autofill-blue: var(--theme-bg-alt-blue);
  // Disabled
  --color-bg-disabled: rgba(var(--theme-bg-alt-red), var(--theme-bg-alt-green), var(--theme-bg-alt-blue), var(--opacity-disabled-bg));
  --color-autofill-disabled: rgba(var(--theme-bg-alt-red), var(--theme-bg-alt-green), var(--theme-bg-alt-blue), var(--opacity-disabled-bg));
  --color-text-disabled: rgba(var(--theme-on-bg-alt-red), var(--theme-on-bg-alt-green), var(--theme-on-bg-alt-blue), var(--opacity-disabled));
  --color-value-disabled: rgba(var(--theme-on-bg-alt-red), var(--theme-on-bg-alt-green), var(--theme-on-bg-alt-blue), var(--opacity-disabled));
  --color-placeholder-disabled: rgba(var(--theme-on-bg-alt-red), var(--theme-on-bg-alt-green), var(--theme-on-bg-alt-blue), var(--opacity-disabled));
  --color-outline-disabled: rgba(var(--theme-outline-red), var(--theme-outline-green), var(--theme-outline-blue), var(--opacity-disabled-bg));
}

input:focus, textarea:focus, select:focus, form .wrapper:focus-within {
  --color-outline: var(--theme-color);
}

label {
  --color-label: var(--theme-on-bg-alt);
  // RGB
  --color-label-red: var(--theme-on-bg-alt-red);
  --color-label-green: var(--theme-on-bg-alt-green);
  --color-label-blue: var(--theme-on-bg-alt-blue);
  // Disabled
  --color-label-disabled: rgba(var(--theme-on-bg-alt-red), var(--theme-on-bg-alt-green), var(--theme-on-bg-alt-blue), var(--opacity-disabled));
}

input, textarea, button, select, optgroup {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Color & Font Customizations
input, textarea, select, form .wrapper {
  color: var(--color-value);
  background-color: var(--color-bg);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  padding: var(--input-padding-y) var(--input-padding-x);
  font-weight: var(--font-weight-normal);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-outline);
  box-shadow: none; // Override default in some browsers
  width: var(--input-width);
}

input, textarea {
  // Chrome/Edge
  &::-webkit-input-placeholder {
    color: var(--color-placeholder);
    font-weight: var(--font-weight-light);
  }
  // Firefox
  &::-moz-placeholder {
    color: var(--color-placeholder);
    font-weight: var(--font-weight-light);
  }
  // IE11
  &:-ms-input-placeholder {
    color: var(--color-placeholder);
    font-weight: sys.$font-weight-light;
  }
  // Edge 17/18
  &:-ms-input-placeholder {
    color: var(--color-placeholder);
    font-weight: var(--font-weight-light);
  }
  // Standards
  &::placeholder {
    color: var(--color-placeholder);
    font-weight: var(--font-weight-light);
  }
}

textarea {
  overflow: auto;   // Remove Default IE Scrollbar
  resize: vertical; // Don't Break Layouts
}

label, fieldset:has(input[type="checkbox"]) > legend, fieldset:has(input[type="radio"]) > legend {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  padding: 0 var(--input-padding-x);
}

input[type="checkbox"] + label, input[type="radio"] + label {
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  text-transform: initial;
}

input:-webkit-autofill {
  //noinspection CssRedundantUnit
  -webkit-box-shadow: 0 0 0px 1000px var(--color-bg-autofill) inset;
}
