@use "../tokens/system" as sys;

input:disabled, textarea:disabled, %picker:disabled,
fieldset[disabled] input, fieldset[disabled] textarea, fieldset[disabled] %picker,
form .wrapper[aria-disabled]
{
  // Disabled
  --color-bg: rgb(var(--theme-bg-rgb) / var(--opacity-disabled-bg));
  --color-autofill: rgb(var(--theme-bg-rgb) / var(--opacity-disabled-bg));
  --color-text: rgb(var(--theme-on-n2-rgb) / var(--opacity-disabled));
  --color-value: rgb(var(--theme-on-bg-rgb) / var(--opacity-disabled));
  --color-placeholder: rgb(var(--theme-on-n2-rgb) / var(--opacity-disabled));
  --color-outline: rgb(var(--theme-outline-rgb) / var(--opacity-disabled-bg));
}

input:disabled + label, textarea:disabled + label, %picker:disabled + label,
fieldset[disabled] + label, fieldset[disabled] textarea + label, fieldset[disabled] %picker + label,
form .wrapper[aria-disabled] > label
{
  --color-label: rgb(var(--theme-on-n2-rgb) / var(--opacity-disabled));
}

input, textarea, %picker {
  &:disabled, fieldset[disabled] & {
    opacity: 1; // iOS fix for unreadable disabled content; see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#Browser_compatibility
  }
  &:disabled, fieldset[disabled], form .wrapper[aria-disabled] {
    cursor: #{sys.$cursor-disabled};
  }
}