@use "../tokens/system" as sys;
@forward "picker";

select {
  --input-symbol: #{sys.$bg-image-select};
  @extend %picker;
  word-wrap: normal; // Fix Safari inheritance of word-wrap
}

// Edge/IE - Suppress focus highlight in Edge/IE
select:focus::-ms-value {
  color: var(--color-icon);
  background-color: var(--color-bg);
}

// OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple.
// Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7
//noinspection CssInvalidHtmlTagReference
x:-o-prefocus, select {
  background-image: none;
}
