@use "sass:color" as color-native;
@use "../../modules/theme/colors";
@use "../../modules/theme/bg";
@use "../../modules/theme/neutrals";
@use "../config/roles";
@use "context";

// Theme Colors
$color: colors.tone("feature", roles.$accent);
$on-color: colors.tone("feature", roles.$on-accent);
$on-color-link: colors.tone("feature", roles.$on-accent-link);
$alt: colors.tone("feature", roles.$container);
$on-alt: colors.tone("feature", roles.$on-container);
$on-alt-link: colors.tone("feature", roles.$link-on-container);
$body: bg.tone("feature", roles.$body);
$bg: bg.tone("feature", roles.$bg);
$e2: color-native.mix($color, $bg, roles.$elevation-2);
$e3: color-native.mix($color, $bg, roles.$elevation-3);
$e4: color-native.mix($color, $bg, roles.$elevation-4);
$e5: color-native.mix($color, $bg, roles.$elevation-5);
$on-bg: bg.tone("feature", roles.$on-bg);
$on-bg-link: colors.tone("feature", roles.$on-bg-link);
$neutral: neutrals.tone("feature", roles.$neutral);
$on-neutral: neutrals.tone("feature", roles.$on-neutral);
$on-neutral-link: colors.tone("feature", roles.$on-neutral-link);
$outline: neutrals.tone("feature", roles.$outline);
$divider: neutrals.tone("feature", roles.$divider);
$shadow: bg.tone("feature", roles.$shadow);
$inverse: bg.tone("feature", roles.$inverse);
$on-inverse: bg.tone("feature", roles.$on-inverse);
$on-inverse-link: bg.tone("feature", roles.$on-inverse-link);

@mixin custom-properties() {
  @include context.custom-properties($bg, $e2, $e3, $e4, $e5, $on-bg, $on-bg-link, $neutral, $on-neutral, $on-neutral-link, $inverse, $on-inverse, $on-inverse-link, $color, $on-color, $on-color-link, $alt, $on-alt, $on-alt-link, $outline, $divider, $shadow);
}