@use "../tokens/system";
@use "../modules/responsive";
@use "../modules/drawer";
@use "../modules/time";
@use "../modules/table";

// region //////////////////////////////////////////////// Responsive Behaviors

// Minimum Width
html, html > body {
  min-width: system.$screen-device-min;
}

html.-desktop, html.-desktop > body {
  min-width: system.$screen-desktop-min;
}

@include responsive.viewport-down(system.$screen-desktop-min) {
  @-ms-viewport {
    width: system.$screen-desktop-min;
  }
}

@if(system.$feature-drawer) {
  @include responsive.lg-up {
    @include drawer.lg-up;
  }
}

@include responsive.md-down() {
  @include time.md-down;
  @if system.$table-responsive == md {
    @include table.responsive;
  }
}

@include responsive.sm-down() {
  @include time.sm-down;
  @if system.$table-responsive == sm {
    @include table.responsive;
  }
}

@include responsive.xs-only() {
  @include time.xs-down;
  @if system.$table-responsive == xs {
    @include table.responsive;
  }
}

// endregion ///////////////////////////////////////////// End Responsive Behaviors