@use "../tokens/system";
@use "../modules/responsive";
@use "../modules/drawer";

// region //////////////////////////////////////////////// Responsive Behaviors

// Minimum Width
html, html > body {
  min-width: system.$screen-device-min;
}

html.-desktop, html.-desktop > body {
  min-width: system.$screen-desktop-min;
}

@include responsive.viewport-down(system.$screen-desktop-min) {
  @-ms-viewport {
    width: system.$screen-desktop-min;
  }
}

@if(system.$feature-drawer) {
  @include responsive.lg-up {
    @include drawer.lg-up;
  }
}

// endregion ///////////////////////////////////////////// End Responsive Behaviors