@use "sass:meta";
@use "../tokens/reference" as ref;
@use "../tokens/config/features";

$header: features.$header;
$footer: features.$footer;
$sidebar: features.$drawer;
$height-header: ref.$height-header;
$height-footer: ref.$height-footer;
$width-sidebar: ref.$width-sidebar;

@if $sidebar == false {
  $width-sidebar: null;
}

@if $header == false {
  $height-header: null;
}

@if $footer == false {
  $height-footer: null;
}