
@mixin xs-down() {
  time[datetime][data-xs] {
    --font-size-time: var(--font-size);
    font-size: 0;
    &:before {
      display: inline-block;
      content: attr(data-xs);
      position: relative;
      font-size: var(--font-size-time);
    }
  }
}

@mixin sm-down() {
  time[datetime][data-sm] {
    --font-size-time: var(--font-size);
    font-size: 0;
    &:before {
      display: inline-block;
      content: attr(data-sm);
      position: relative;
      font-size: var(--font-size-time);
    }
  }
}

@mixin md-down() {
  time[datetime][data-md] {
    --font-size-time: var(--font-size);
    font-size: 0;
    &:before {
      display: inline-block;
      content: attr(data-md);
      position: relative;
      font-size: var(--font-size-time);
    }
  }
}