@use "../tokens/config/typography" as tokens;
@use "../tokens/reference" as ref;

// Fonts
$font-normal: tokens.$font-normal;
$font-monospace: tokens.$font-monospace;
$font-icon: null;

// Font Sizes
$size-root: tokens.$size-root;
$size-icon: tokens.$size-icon;
$size-base: ref.$font-size-base;
$size-lg:   $size-base * 1.25;
$size-sm:   $size-base * .85;
$size-input: $size-base;
$size-label: $size-input;

// Calculated Line Height
$height-base: tokens.$height-base;
$height-sm: $height-base * .85;
$height-lg: $height-base * 1.25;
$height-input: $height-base;

// Calculated Font Weight
$weight-light: tokens.$weight-light;
$weight-base: tokens.$weight-base;
$weight-medium: tokens.$weight-medium;
$weight-bold: tokens.$weight-bold;

// Decoration
$decoration-link: tokens.$decoration-link;
$decoration-link-hover: tokens.$decoration-link-hover;

// Mixins
@mixin edge-legacy() {
  text-shadow: 0 0 1px rgba(0,0,0,0.2); // Faux Text Shadow for legibility. Overridden at HiDPI
}

@mixin ie() {
  text-shadow: 0 0 1px rgba(0,0,0,0.1); // Faux Text Shadow for legibility.  Overridden at HiDPI
}