// Color Tokens
// This file should be used in the manner below, before importing or using 'rules.scss' in
// order to set the base colors of your theme:
//
// @use "/path/to/color" with ($major: <your color>, $minor: <your color>, etc);
//

@use "../reference" as ref;

$a1: ref.$color-base-a1 !default;
$a2: ref.$color-base-a2 !default;
$a3: ref.$color-base-a3 !default;
$warning: ref.$color-base-warning !default;
$danger: ref.$color-base-danger !default;
$success: ref.$color-base-success !default;
$default: ref.$color-base-default !default;
$surface: ref.$color-base-surface !default;
$neutral: ref.$color-base-neutral !default;