// Decoration Tokens
// This file should be used in the manner below, before importing or using 'rules.scss' in
// order to set the base colors of your theme:
//
// @use "/path/to/screen" with ($sm-min: <px size>, $md-min: <px size>, etc);
//

@use "../reference" as ref;

// Borders
$radius-border: ref.$radius-border !default;
$width-border: ref.$width-border !default;
$width-outline: ref.$width-outline !default;

// Spacing
$spacer: ref.$spacer !default;
$width-label: ref.$width-label !default;

// Transitions
$transition-base: ref.$transition-base !default;
$transition-fade: ref.$transition-fade !default;
$transition-collapse: ref.$transition-collapse !default;
$transition-button: ref.$transition-btn !default;
$transition-button-flat: ref.$transition-btn-flat !default;

// Inline Scrollbar
$scrollbar-inline-width: ref.$scrollbar-inline-width !default;
$scrollbar-inline-color: ref.$scrollbar-inline-color !default;
$scrollbar-inline-thumb: ref.$scrollbar-inline-thumb !default;

// Cursors
$cursor-strong: ref.$cursor-strong !default;
$cursor-disabled: ref.$cursor-disabled !default;

// Opacity
$opacity-bg-disabled: ref.$opacity-bg-disabled !default;
$opacity-text-disabled: ref.$opacity-text-disabled !default;
$opacity-hover: ref.$opacity-hover !default;
$opacity-focus: ref.$opacity-focus !default;
$opacity-pressed: ref.$opacity-pressed !default;
$opacity-control: ref.$opacity-control !default;
$opacity-busy: ref.$opacity-busy !default;

// Elevation
$elevation-tints: ("1": 5%, "2": 8%, "3": 11%, "4": 12%, "5": 14%) !default;
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

// Dialogs
$filter-dialog: blur(0.25rem);
$color-bg-dialog: rgba(255, 255, 255, 0.7);

// Text
$ui-transform: none !default;


