// Feature Tokens
// This file should be used in the manner below, before importing or using 'rules.scss' in
// order to set the base colors of your theme:
//
// @use "/path/to/feature" with ($htc: <bool>, etc);
//

@use "../reference" as ref;

$hct: ref.$feature-hct !default;
$hsl: ref.$feature-hsl !default;
$header: ref.$rules-header !default;
$footer: ref.$rules-footer !default;
$drawer: ref.$feature-drawer !default;
$badge: ref.$feature-badge !default;
$grid: ref.$feature-grid !default;