@use "../../modules/theme/bg";

// Tones
$tone-0: bg.tone("major", 0) !default;
$tone-5: bg.tone("major", 5) !default;
$tone-10: bg.tone("major", 10) !default;
$tone-15: bg.tone("major", 15) !default;
$tone-20: bg.tone("major", 20) !default;
$tone-25: bg.tone("major", 25) !default;
$tone-30: bg.tone("major", 30) !default;
$tone-40: bg.tone("major", 40) !default;
$tone-50: bg.tone("major", 50) !default;
$tone-60: bg.tone("major", 60) !default;
$tone-70: bg.tone("major", 70) !default;
$tone-80: bg.tone("major", 80) !default;
$tone-90: bg.tone("major", 90) !default;
$tone-92: bg.tone("major", 92) !default;
$tone-94: bg.tone("major", 94) !default;
$tone-95: bg.tone("major", 95) !default;
$tone-96: bg.tone("major", 96) !default;
$tone-98: bg.tone("major", 98) !default;
$tone-99: bg.tone("major", 99) !default;
$tone-100: bg.tone("major", 100) !default;