@use "../../modules/theme/neutrals";

// Tones
$tone-0: neutrals.tone("major", 0) !default;
$tone-5: neutrals.tone("major", 5) !default;
$tone-10: neutrals.tone("major", 10) !default;
$tone-15: neutrals.tone("major", 15) !default;
$tone-20: neutrals.tone("major", 20) !default;
$tone-25: neutrals.tone("major", 25) !default;
$tone-30: neutrals.tone("major", 30) !default;
$tone-40: neutrals.tone("major", 40) !default;
$tone-50: neutrals.tone("major", 50) !default;
$tone-60: neutrals.tone("major", 60) !default;
$tone-70: neutrals.tone("major", 70) !default;
$tone-80: neutrals.tone("major", 80) !default;
$tone-90: neutrals.tone("major", 90) !default;
$tone-92: neutrals.tone("major", 92) !default;
$tone-94: neutrals.tone("major", 94) !default;
$tone-95: neutrals.tone("major", 95) !default;
$tone-96: neutrals.tone("major", 96) !default;
$tone-98: neutrals.tone("major", 98) !default;
$tone-99: neutrals.tone("major", 99) !default;
$tone-100: neutrals.tone("major", 100) !default;