
$accent: 40 !default;
$on-accent: 100 !default;
$on-accent-link: 80 !default;
$container: 90 !default;
$on-container: 10 !default;
$link-on-container: 30 !default;

$body: 99 !default;
$bg: 98 !default;
$on-bg: 10 !default;
$on-bg-link: 40 !default;

$neutral: 90 !default;
$on-neutral: 30 !default;
$on-neutral-link: 40 !default;

$outline: 50 !default;
$divider: 80 !default;
$shadow: 0 !default;
$inverse: 20 !default;
$on-inverse: 95 !default;
$on-inverse-link: 80 !default;

$elevation-2: 5% !default;
$elevation-3: 8% !default;
$elevation-4: 11% !default;
$elevation-5: 16% !default;