@use "sass:math";
@use "sass:color";
@use "sass:map";
@use "sass:list";
@use "palette";
@use "material-foundation/libmonet/libmonet.scss" as hct;
@use "../../tokens/config/features";

@function -get-saturation-val($recommended: 8%, $min: .04) {
  //$calc: percentage(1 - math.div(1,$parts));
  $calc: 100% - $recommended;
  $min: percentage(1 - $min);

  @return $calc * -1;
}

@function generate-single($from-color, $parts: 12, $min: 4) {
  $color: $from-color;
  @if features.$hct {
    $from: hct.hct_from_color($from-color);
    $h: list.nth($from,1);
    $c: list.nth($from,2);
    $t: list.nth($from,3);
    $color: hct.hct($h, math.max(math.div($c,$parts),$min), 40);
  } @else {
    $h: color.hue($from-color);
    $s: color.saturation($from-color);
    $l: color.saturation($from-color);

    $new-saturation: math.div($s,$parts);
    $min-saturation: math.percentage(math.div($min, 100));
    $color: hsl($h, math.max($new-saturation, $min-saturation), $l);
  }

  @return $color;
}

@function generate($from-color, $parts: 12, $min: .04) {
  @return palette.generate(generate-single($from-color, $parts, $min), 0);
}

$stuff: #2cb2e8;
$things: hsl(197.2340425532, 6.6951566952%, 80.3418803419%);
