@use "sass:color" as color-native;
@use "sass:math";
@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "sass:meta";
@use "../color/sass-color" as color;
@use "material-foundation/libmonet/libmonet.scss" as hct;
@use "../../tokens/config/features";

$palettes: () !default;
$steps: (10,20,25,30,40,50,60,70,80,90,92,94,95,96,98,99);

// region //////////////////////////////////////////////// Generation Functions

//noinspection CssInvalidFunction
@function generate($base, $adjust: -1) {
  $output: ();
  $actual: ();

  @if features.$hct {
    // Generate Colors based on HCT
    $base-hct: hct.hct_from_color($base);
    $h: list.nth($base-hct, 1);
    $c: list.nth($base-hct, 2);
    $base-10: hct.hct($h, $c, 10);
    $output: ("0": hct.hct($h, $c, 0), "10": $base-10);

    @each $key in $steps {
      $shade: hct.hct($h, $c, $key + $adjust);
      $output: map.set($output, string.quote(#{$key}), $shade);
    }

    $output: map.set($output, "100", #ffffff);
  } @else if not(features.$hsl) and (meta.function-exists("to-space", color-native)) {
    $lch-color: color-native.to-space($base,lch);
    $h: color-native.channel($lch-color, "hue");
    $c: color-native.channel($lch-color, "chroma");
    //noinspection SassScssResolvedByNameOnly
    $base-0: color.to-rgb(lch(0% $c $h));
    $output: ("0": $base-0);
    $previous: 0;
    $shade: null;
    @each $key in $steps {
      $shade: null;
      //noinspection SassScssResolvedByNameOnly
      $shade: color.to-rgb(lch($key $c $h));
      @if($shade == rgb(255,255,255)) {
        $newKey: -nudge-down($c, $h, $key, map.get($actual, $previous));
        //noinspection SassScssResolvedByNameOnly
        $shade: color.to-rgb(lch($newKey $c $h));
        $actual: map.set($actual, $key, $newKey);
      } @else if($shade == rgb(0,0,0)) {
        $newKey: -nudge-up($c, $h, $key, -next-step($key));
        //noinspection SassScssResolvedByNameOnly
        $shade: color.to-rgb(lch($newKey $c $h));
        $actual: map.set($actual, $key, $newKey);
      } @else {
        $actual: map.set($actual, $key, $key);
      }
      $previous: $key;
      $output: map.set($output, string.quote(#{$key}), $shade);
    }
    $output: map.set($output, "100", #ffffff);
  } @else {
    // Generate Colors based on HSL
    $h: color.hue($base);
    $s: color.saturation($base) * .85;
    $l: color.lightness($base);
    $output: ("0": #000000);

    @each $key in $steps {
      $scale: math.percentage(math.div($key, 100));
      $shade: hsl($h, $s, $scale);
      @if(meta.function-exists("to-space", color-native)) {
        $shade: color.to-rgb($shade, rgb);
      }
      $output: map.set($output, string.quote(#{$key}), $shade);
    }

    $output: map.set($output, "100", #ffffff);
  }

  @return $output;
}

// endregion ///////////////////////////////////////////// End Generation Functions

// region //////////////////////////////////////////////// Getters

@function tone($name, $tone) {
  $shade-name: string.quote($name);
  $shade-tone: string.quote(#{$tone});

  @return map.get($palettes,$shade-name,$shade-tone);
}

@function tint($foreground, $background, $percent-opacity) {
  $tint-alpha: (1 - math.div($percent-opacity, 100%)) * -1;
  $tint: color-native.adjust($foreground, $alpha: $tint-alpha);
  $alpha: 1 - math.div($percent-opacity, 100%);

  @if ($background == transparent) {
    @return rgba($tint, color-native.opacity($tint) * $alpha);
  } @else {
    @return color-native.mix(rgba($tint, 1), rgba($background, 1), 100 * color-native.opacity($tint) * $alpha);
  }
}

@function disabled($color, $opacity) {
  $r: color.red($color);
  $g: color.green($color);
  $b: color.blue($color);

  @return rgba($r,$g,$b,$opacity);
}

// endregion ///////////////////////////////////////////// End Getters

// region //////////////////////////////////////////////// Helper Functions

@function -next-step($step) {
  @each $key in $steps {
    @if($step > $key) {
      @return $step;
    }
  }

  @return 100;
}

@function -nudge-down($c, $h, $cur, $prev) {
  $upper: ($cur * 100);
  $lower: ($prev * 100);
  @for $subkey from $upper through $lower  {
    $deck: math.div($subkey, 100);
    //noinspection SassScssResolvedByNameOnly
    $shade: color.to-rgb(lch($deck $c $h), rgb);
    @if($shade != rgb(255,255,255)) {
      @return $deck;
    }
  }

  @return $cur;
}

@function -nudge-up($c, $h, $cur, $next) {
  $lower: ($cur * 100);
  $upper: ($next * 100);
  @for $subkey from $lower through $upper  {
    $deck: math.div($subkey, 100);
    //noinspection SassScssResolvedByNameOnly
    $shade: color.to-rgb(lch($deck $c $h));
    @if($shade != rgb(0,0,0)) {
      @return $deck;
    }
  }

  @return $cur;
}

// endregion ///////////////////////////////////////////// End Helper Functions

